<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :username %> <br/>
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :password %> <br/>
    <%= text_field_tag :password, params[:password] %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>
